---
---

@import "{{ site.theme }}";
   
   body {
     font-family: 'Your Preferred Font', Arial, sans-serif;
     font-size: 18px; /* Adjust as needed */
   }
   
   h1, h2, h3, h4, h5, h6 {
     font-family: 'Your Header Font', Georgia, serif;
   }
